<!DOCTYPE HTML>
<head>

</head>
<body>
    <p>Sign Out Successfull</p>
    <p>Want to log in again? <a href="https://gideon.gidindustrial.com">Login</a></p>
    
    <script>
        window.opener.postMessage("SIGN_OUT_SUCCESS", "*");
    </script>
</body>